@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top left, #91dada 50%, #8299b9 50%);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Joke-card{
  border-radius: 10px;
  padding: 50px;
  max-width: 600px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.411);
  background-color: rgb(255, 255, 255);
}

.Joke-heading{
  color: rgb(255, 255, 255);
  font-weight: bold;

}

.Joke-Subheading{
  color: rgb(255, 255, 255);
  font-family: 'Sacramento', cursive;
}

.Joke-card-setup{
  font-size: 2rem;
  font-weight: bold;
  color:#7c7c7c;
  font-family: 'Oswald', sans-serif;
}

.Joke-card-punchline{
  font-size: 2rem;
  font-weight: bold;
  color:#7c7c7c;
  font-family: 'Oswald', sans-serif;
}

.Joke-card-button{
  font-size: 2rem;
  padding:20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: #8299b9;
  color: white;
  outline: none;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

.Joke-card-button:hover{
  border-radius: 40px;
  color: #000000;
  background-color: #91dada;
  transition: 0.2s  ease-in-out;
}

.Joke-card-button:active{
  transform: translateY(8px);
  color: #8f223d;
}

.Joke-footer{
  text-align: center;
  bottom: 0px;
  color: #000;
  font-family: 'Sacramento', cursive;
}

.Joke-footer a{
  text-decoration: none;
  color: #5424ad;
  font-family: 'Sacramento', cursive;
}

.Joke-footer h6{
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px) {
  
  .Joke-card{
    max-width: 280px;
    margin: 20px;
  }

  .Joke-card-setup{
    font-size: 1.5rem;
  }

  .Joke-card-punchline{
    font-size: 1.5rem;
  }

  .Joke-card-button{
    font-size: 1.5rem;
  }

}